<div class="title">
	<h1>Get More, For Less</h1>
	<h2>Find the perfect Television with our new <b>TVFinder&trade;</b></h2>
</div>

<div class="featuring">
	<img src="images/00.png"/>
	<img src="images/01.png"/>
	<img src="images/02.png"/>
</div>

<br/><br/>
