<div class="filter">
<div class="row-fluid">

	<div class="span2">
		<div class="name">
			<img src="images/icon-star.png"/>
			<span><b>TV</b>Finder</span>
		</div>
	</div>

	<div class="span4">
		<div class="slider">
			<span>Size</span>
			<div id="size-slider"></div>
		</div>
	</div>

	<div class="span6">
		<div class="select">
			<span>Type</span>
			<select class="selectpicker" id="typeDropDownElement">
				<option>All</option>
			</select>
		</div>

		<div class="select">
			<span>Brand</span>
			<select class="selectpicker" id="brandDropDownElement">
				<option>All</option>
			</select>
		</div>

		<div class="select">
			<span>Sort</span>
			<select class="selectpicker" id="sortDropDownElement">
				<option value="price_asc">Lowest Price</option>
				<option value="price_desc">Highest Price</option>
				<option value="ranking">Ranking</option>
				<option value="size">Screen Size</option>
			</select>
		</div>
	</div>

</div>
</div>

<div class="filter-shadow"></div>
