<div class="row-fluid footer">
    <div class="span12">

        <div class="top">
            <div>
                <b>Walmart</b>
                <img src="images/icon-star2.png"/>

                <input class="btn-sign-up-txt" type="text" placeholder="Sign up for our Mailing List" />
                <span class="submit btn-sign-up">Sign Up</span>
            </div>
        </div>

        <!-- <span class="title">Walmart Money Centre</span> -->

        <div class="list">
            <a href="http://walmartstores.com/">Corporate</a>
            <a href="http://walmartstores.com/aboutus">Our Story</a>
            <a href="http://walmartstores.com/pressroom">News &amp; Views</a>
            <a href="http://walmartstores.com/communitygiving">Giving Back</a>
            <a href="http://walmartstores.com/sustainability">Global Responsibility</a>
            <a href="http://walmartstores.com/investors">Investors</a>
            <a href="http://walmartstores.com/suppliers">Suppliers</a>
            <a href="http://walmartstores.com/careers">Careers</a>
        </div>

        <div class="list">
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=542412">About Walmart.com</a>
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=538449">Terms of Use</a>
            <a href="http://affiliates.walmart.com/aff_home.jsp">Affiliate Program</a>
            <a href="http://public.conxport.com/walmart/sponsorship/home.aspx">Sponsorship Submission</a>
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=538456">International Customers</a>
            <a href="http://www.walmart.com/cservice/contextual_help_popup.gsp?modId=971879">About Our Ads</a>
            <a href="http://www.walmart.com/cservice/ca_storefinder.gsp">Store Finder</a>
            <a href="http://coupons.walmart.com/?povid=cat14503-env172199-module092411-lLinkISNCOUPON">Printable
                Coupons</a>
            <a href="http://www.walmart.com/wf.gsp/a_d_registration_flow/landing">Associate Discount</a>
            <a href="http://walmartstores.com/PrivacySecurity/?sourceid=walmart.com-footer">Privacy &amp; Security</a>
            <a href="http://walmartstores.com/9243.aspx#California">California Privacy Rights</a>
            <a href="http://www.walmartlabs.com/">@Walmart Labs</a>
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=121828">See All Departments</a>
        </div>

        <div class="list">
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=5436">Help Center</a>
            <a href="http://www.walmart.com/cservice/li_trackorder.gsp?NavMode=2">Track Your Order</a>
            <a href="http://www.walmart.com/catalog/catalog.gsp?cat=538459">Returns Policy</a>
            <a href="http://www.walmart.com/returns/returntypeDropDownElement.gsp">Return an Item</a>
            <a href="http://walmartstores.com/Recalls/">Product Recalls</a>
            <a href="http://www.walmart.com/cservice/cu_comments_online.gsp?cu_heading=8">Contact Us</a>
            <a href="https://secure.opinionlab.com/ccc01/comment_card_d.asp">Feedback</a>
        </div>

        <div class="list">
            <a href="http://www.walmart.com/cp/Electronics/3944">Black Friday</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">Cyber Monday</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">Thanksgiving</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">Laptops</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">iPads and Tablets</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">Appliances</a>
            <a href="http://www.walmart.com/cp/Electronics/3944">TVs</a>
            <a href="http://www.walmart.com/cp/toys/4171">Toys</a>
            <a href="http://www.walmart.com/cp/Gift-Cards/96894">eGift Cards</a>
            <a href="http://www.walmart.com/cp/Best-Sellers/1095979">Best Sellers</a>
            <a href="http://www.walmart.com/cp/New-Arrivals/1095884">New Arrivals</a>
            <a href="http://www.walmart.com/cp/Top-Rated/1095980">Top-Rated Items</a>
        </div>

        <br/><br/><br/><br/>
    </div>

</div>
