<div class="row-fluid">
<div class="span12">

	<div class="results">
		<div class="row-fluid">
			<div class="span6">
				<span class="info"><b><span>0</span> Matches</b> for Television Fitting that Criteria</span>
			</div>
			<div class="span6">
				<span class="btn pull-right btn-clear-filters">Clear Filters</span>
			</div>
		</div>

		<br/><br/><br/>

		<div class="list">
		</div>
	</div>

</div>
</div>
