<div class="review_info">
	<div class="row-fluid">
		<div class="span6">
			<div class="info truncate" data-truncate="200">
				<h1>About</h1>

				<p class="review_short">{{#with genericContent}}{{{shortDescription}}}{{/with}}</p>
			</div>
		</div>

		<div class="span6">
			<div class="btns">
				<div class="btn-group qty">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="value">Qty</span> <span
							class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
				</div>

				<a class="btn btn-warning add-to-cart">Add to Cart</a>

				<div class="actions">
					<div><span><img src="images/reviews/find-icon.png"/></span> <a href="#">Find This Product
						Locally</a></div>
					<div><span><img src="images/reviews/arrival-icon.png"/></span> <a href="#">Calculate Arrival
						Date</a></div>
					<div><span><img src="images/reviews/share-icon.png"/></span> <a href="#">Share With a Friend</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
